SMTP_HOST="mail.infomaniak.com"
SMTP_PORT="465"
SMTP_USER="salut@benev.io"
SMTP_PASS="awesomepassword"
ROOT_USER="jonas.voisard@gmail.com"
DATABASE_URL="mysql://jonas@localhost:3306/benev"
MEDIA_DIR="./media"
PUBLIC_FREE_EVENT_MAX_MEMBERS=20
BODY_SIZE_LIMIT=0
GITHUB_CLIENT_ID="prout"
GITHUB_CLIENT_SECRET="prout"
GOOGLE_CLIENT_ID="prout"
GOOGLE_CLIENT_SECRET="prout"
EXCHANGE_RATE_KEY="see https://app.exchangerate-api.com"
PRIVATE_STRIPE_KEY="see https://dashboard.stripe.com/"
PUBLIC_STRIPE_KEY="see https://dashboard.stripe.com/"
PRIVATE_STRIPE_WEBHOOK_KEY="see https://dashboard.stripe.com/"